@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br />
    <h1 class="display-4">Gestion de inventario</h1>
    <p>Mas informacion <a href="https://docs.microsoft.com/aspnet/core">Sistema de gestion de inventarios</a></p>
</div>
